body{

color: #EAEBEA;
background-image: url("https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
background-image: transparent;
font-size: 20px;
font-family: Oswald, sans-serif;
text-align: center;
}

h1{

color: #f7f7ff;
font-size: 40px;
font-family: Gruppo, serif;
line-height: 3;
letter-spacing: 10px;
text-align: center;
}


h2{

color: #f7f7ff;
font-size: 40px;
font-family: Gruppo, serif;
line-height: 3;
letter-spacing: 5px;
text-align: center;
}

h3{

color: #f7f7ff;
font-size: 30px;
font-family: Gruppo, serif;
line-height: 3;
letter-spacing: 5px;
text-align: center;
}

.img-circle {
border-radius: 50%	
}

a {
  color: yellow;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: yellow;
  text-decoration: none;

}

.container {
width: 1000px;
margin: 40px auto;
}
@media (max-width: 500px) {
.container {
width:400px;
}
}
@media (max-width: 760px) {
.container {
width: 600px;
}
}


.card-white {
background-color: #636154;
padding: 40px;
box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    border-radius: 4px;
    margin: 20px 20px;
    text-align: center;
}

.logo:hover {
	transform: scale(1.25);

